[Unit]
Description=SHAeR Pi OS UI
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/shaer/outputs
EnvironmentFile=-/etc/shaer/shaer.env
EnvironmentFile=-/etc/shaer/spotify.env
EnvironmentFile=-/etc/shaer/recording.env
ExecStart=/usr/bin/python3 /opt/shaer/outputs/shaer_pi_os/server.py --host ${SHAER_HOST} --port ${SHAER_PORT} --theme ${SHAER_THEME} --allow-test-input
TimeoutStopSec=15
Restart=always
RestartSec=2
User=shaer

[Install]
WantedBy=multi-user.target
